/* for equation number */
span.eqno {
    float: right;
}

/* Set max width of the content */
.wy-nav-content {
    max-width: 90%;
}

/* See https://github.com/GenericMappingTools/gmt/pull/1564 */
.rst-content .highlighted{
    padding:0 0px;
}

/* See https://github.com/GenericMappingTools/gmt/pull/1605 */
.rst-content dl dt {
    font-weight: normal;
}

/* https://github.com/readthedocs/sphinx_rtd_theme/pull/775 */
.hlist {
    width: 100%;
}

/* style for example gallery */
.gmtgallary li {
    list-style: none;
    width: 180px;
    display: inline-grid;
    margin-right: 15px;
}

/* Set tab-width to 2 spaces */
.highlight {
    tab-size: 2;
}

/* Revert the old behavior of popups */
.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}
.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}
.modalDialog > div {
	font-size:small;
	width: 500px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}
.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}
.close:hover { background: #00d9ff; }

/* youtube and slices */
.iframe-16x9 {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}
.iframe-4x3 {
    position: relative;
    padding-bottom: 75%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}
.iframe-16x9 iframe, .iframe-4x3 iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
  }
  
td, th {
	border: 1px solid #ffffff;
	text-align: left;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: #ffffff;
}

.inline-orcid{
	height: 14px;
}